.numbers{
    position:absolute;
    bottom:20px;
    margin-left:20%;
}

.alignPages {
    display:inline-block; 
    margin-right: -45px;
}


.selectedPagination{
    height: 24px;
    width: 24px;
    border-radius: 12px;
    background-color: white;
    text-align: center;
    margin-left: 66px;
    font-size: 16px;
    box-shadow: 0 2px 14px 0 rgba(0,0,0,0.2);
    opacity: 0.4;
}

